/* font importations */
@font-face {
    
    font-family: 'Merriweather';
    src: url("Resources/Fonts/Merriweather/Merriweather-Regular.ttf") format("truetype");
    
}

@font-face {
    
    font-family: 'Inconsolata';
    src: url("Resources/Fonts/Inconsolata/Inconsolata-VariableFont_wdth,wght.ttf") format("truetype");
    
}

@font-face {
    
    font-family: 'SourceCodePro';
    src: url("Resources/Fonts/Source_Code_Pro/SourceCodePro-VariableFont_wght.ttf") format("truetype");
    
}


/* rulesets for overarching elements */
html {
    
    color: #fff;
    background-image: url('Resources/Background.jpg');
    
}

header {
    
    font-family: 'Inconsolata';
    text-align: center;
    
}

main {
    
    font-family: 'Merriweather';
    
    display: flex;
    flex-direction: row;
    
}

/* rulesets for links */

a {
    
    color: #981;
    
}

a:hover {
    
    color: #222;
    transition: 0.1s;
    
}



/* ruleset of the newsfeed parent element */

#news {
    
    font-size: 12px;
    background-color: #003;
    opacity: 85%;
    border-radius: 15px;
    
    padding: 1%;
    width: 30%;
    position: relative;
    left: 2%;
    
    

}

#stories {
    
    display: flex;
    flex-direction: row;
    
}

#news:p {
    
    padding-bottom: 30px;
    padding-left: 5px;
    padding-right: 5px;
    
}


/* ruleset of the music element */

#music {
    
    background-color: #33000080;
    border-radius: 15px;
    
    width: 30%;
    position: relative;
    left: 4%;
    padding-left: 25px;
    padding-right: 25px;
}

#music iframe {
    
    opacity: 100%;
    
}


/* ruleset of the chart parent element */





/* ruleset of stock information parent element */

#par {
    
    font-family: 'SourceCodePro';
    font-size: 12px;
    background-color: #010011;
    opacity: 95%;
    border-radius: 15px;
    
    padding: 1%;
    width: 30%;
    display: flex;
    flex-direction: column;
    
}

#child {
    
    display: flex;
    flex-direction: column;
    
}

/* table rulesets */

#bigtable {
    
    display: flex;
    flex-direction: column;
    
}

#smalltable {
    
    display: flex;
    flex-direction: row;
    text-align: center;

}

.firstcol {
    
    padding-right: 80px;
    padding-left: 80px;
    
}

.pricecol {
    
    padding-right: 95px;
    
}

tr {
    
    display: flex;
    flex-direction: column;
    
}

td {
    
    padding-right: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    
}
